.cards {
  display: grid;
  margin: 0;
  padding: 0;
  list-style-type: none;
  grid-template-columns: repeat(3, 240px);
  gap: 100px;
}

@media screen and (max-width: 1120px) {
  .cards {
    grid-template-columns: repeat(3, 180px);
    gap: 80px;
  }
}

@media screen and (max-width: 960px){
.cards {
    grid-template-columns: repeat(3, 156px);
    gap: 80px;
}}

@media screen and (max-width: 560px){
  .cards {
      grid-template-columns: repeat(1, 156px);
      gap: 80px;
  }}
