.video__iframes {
  display: flex;
  margin: 0;
  padding: 0;
  list-style-type: none;
  border: 0;
  font-size: 0;
  transform: translate(0, 60px);
  gap: 10px;
  justify-content: center;
}

@media screen and (max-width: 960px) {
  .video__iframes {
    flex-direction: column;
  }
}
