.feynman__link {
  line-height: 51px;
  font-weight: normal;
  position: absolute;
  top: 90%;
  right: 48px;
  z-index: 3;
  text-decoration: none;
  color: #2f80ed;
}

@media screen and (max-width: 560px) {
  .feynman__link {
    top: 95%;
  }
}
