.footer__columns {
  width: 90%;
  display: flex;
  justify-content: space-between;
}

@media screen and (max-width: 560px) {
  .footer__columns {
    padding: 60px 20px 40px 0;
    flex-direction: column-reverse;
  }
}
