.header {
  height: 100vh;
  /* min-height: 600px; */
  max-height: 756px;
  padding-left: 64px;
  background-color: #f2f2f2;
  position: relative;
  display: flex;
  z-index: 1;
  overflow: hidden;
}

@media screen and (max-width: 560px) {
  .header {
    padding-left: 0;
  }
}

