.resources__logo-zone {
  margin: 80px 0 0 0;
  padding: 0;
  list-style-type: none;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  width: 100%;
  justify-content: center;
  justify-items: center;
}

@media screen and (max-width: 560px) {
  .resources__logo-zone {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media screen and (max-width: 560px) {
  .resources__logo-zone {
    grid-template-columns: repeat(1, 1fr);
    gap: 40px;
  }
}

