.header__subtitle {
  margin: 0;
  max-width: 338px;
  line-height: 25px;
  font-size: 18px;
  font-weight: normal;
  position: absolute;
  left: 64px;
  bottom: 30px;
  flex-direction: row;
  z-index: 4;
}

@media screen and (max-width: 560px) {
  .header__subtitle {
    left: 20px;
  }
}
