.header__main-illustration {
  width: 765px;
  height: 608px;
  object-fit: contain;
  object-position: right bottom;
  z-index: 3;
  position: absolute;
  bottom: 0;
  right: 0;
}

@media screen and (max-width: 960px) {
  .header__main-illustration {
  width: 530px;
  }
}

@media screen and (max-width: 560px) {
  .header__main-illustration {
  width: 350px;
  position: absolute;
  top: 200;
  right: 0;
  }
}
