@keyframes rotation {
  from {
    transform: rotate(0);
  }
  to {
    transform: rotate(360deg);
  }
}

.page {
  min-width: 1100px;
  /* мы ещё не умеем делать мобильную версию сайта, */
  /* поэтому выше установлена минимальная ширина страницы */
  max-width: 1600px;
  /* выше установили ограничение по максимальной ширине */
  margin: 0 auto;
  /* выше для экранов больше 1600px отцентрировали весь контент */
  font-family: 'Helvetica Neue', Arial, sans-serif;
}

/* header */

.header {
  height: 100vh;
  min-height: 600px;
  max-height: 756px;
  padding-left: 64px;
  background-color: #f2f2f2;
  position: relative;
  display: flex;
  z-index: 1;
  overflow: hidden;
  /* выше установили ограничения для секции */
}

.header__title {
  margin: 0;
  max-width: 730px;
  line-height: 96px;
  font-size: 102px;
  font-weight: bold;
  align-self: center;
  z-index: 4;
}

.header__subtitle {
  margin: 0;
  max-width: 338px;
  line-height: 25px;
  font-size: 18px;
  font-weight: normal;
  position: absolute;
  left: 64px;
  bottom: 30px;
  flex-direction: row;
  z-index: 4;
}

.header__link {
  color: #2f80ed;
  text-decoration: none;
}

/* TODO remove comments
.link:hover {
  opacity: 40%;
  transition: .3s;
} */

.header__main-illustration {
  width: 765px;
  height: 608px;
  z-index: 3;
  position: absolute;
  bottom: 0;
  right: 0;
}

/* ниже мы привели пример двух селекторов, чтобы вы вспомнили запись элемента */
.rotation {
  position: absolute;
  top: 64px;
  right: 0;
  z-index: 2;
}

.header__square-pic {
  height: 568px;
  width: 568px;
  background-color: #2f80ed;
  animation: rotation 20s linear infinite;
}

.logo {
  height: 32px;
  width: 183px;
}

.logo_place_header {
  position: absolute;
  top: 30px;
  left: 64px;
}

/* Main */
.description {
  padding-top: 100px;
  display: flex;
  justify-content: center;

}

.two-columns {
  width: 80%;
  display: flex;
  justify-content: space-between;
}

.two-columns__brief {
  margin: 0;
  width: 175px;
  line-height: 1.2;
  font-size: 18px;
  font-weight: normal;
  color: #2f80ed;
}

.two-columns__main-text {
  margin: 0;
  min-width: 784px;
  width: 80%;
  line-height: 34px;
  font-size: 24px;
  font-weight: normal;
  display: flex;
  flex-flow: column;
  gap: 30px;
}

.two-columns__paragraph {
  margin: 0;
}

.two-columns__span-accent {
  line-height: 34px;
  font-size: 24px;
  font-weight: bold;
}

/* techniques */

.techniques {
  min-width: 80%;
  padding: 100px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.cards {
  display: grid;
  min-width: 920px;
  grid-template-columns: repeat(3, 240px);
  gap: 0 100px;
}

.cards__item {
  margin-top: 60px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.cards__image {
 width: 160px;
 height: 160px;
 border-radius: 50%;
 padding: 0 40px;
}

.cards__title {
  margin: 43px 0 0 0;
  line-height: 1.15;
  font-size: 24px;
  font-weight: bold;
  text-align: center;
}

.cards__description {
  margin: 16px 0 0 0;
  text-align: center;
  line-height: 23px;
  font-size: 18px;
  font-weight: normal;

}

/* video */

.video {
  margin: 100px 0 auto;
  display: flex;
  align-items: center;
  flex-direction: column;
}

.video__iframes {
  display: flex;
  border: 0;
  font-size: 0;
  transform: translate(0, 60px);
  gap: 10px;
}

.video__iframe {
  width: 515px;
  height: 316px;
  border: 0;
}

/* oakley */

.oakley {
  background-color: #f2f2f2;
  display: flex;
  justify-content: center;
}

.two-columns_place_oakley {
  padding-top: 160px;
  display: flex;
  justify-content: center;
}

/* feynman */

.feynman {
  min-height: 890px;
  padding-top: 100px;
  background-color: #f2f2f2;
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  z-index: 1;
}

.feynman__title {
  margin: 0;
  width: 648px;
  line-height: 1.15;
  font-size: 120px;
  font-weight: bold;
  text-align: center;
  z-index: 3;
}

.feynman__subtitle {
  margin: 70px 0 0 0;
  line-height: 51px;
  font-size: 36px;
  font-weight: normal;
  text-align: center;
  z-index: 3;
}

.feynman__link {
  line-height: 51px;
  font-size: 36px;
  font-weight: normal;
  position: absolute;
  top: 50%;
  right: 48px;
  z-index: 3;
  text-decoration: none;
  color: #2f80ed;
}

.feynman__photo {
  width: 867px;
  height: 637px;
  position: absolute;
  bottom: 0;
  left: 0;
  z-index: 2;
}

/* digits */

.digits {
  padding: 100px 0;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.section-title {
  margin: 0;
  width: 60%;
  line-height: 1.15;
  font-size: 60px;
  font-weight: bold;
  text-align: center;
}

.section-subtitle {
  width: 60%;
  margin: 20px 0 0 0;
  line-height: 34px;
  font-size: 24px;
  font-weight: normal;
  text-align: center;
}

.table {
  margin: 0;
  padding: 0;
  width: 1100px;
  list-style-type: none;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  z-index: 1;
}

.table__cell {
  width: 250px;
  display: flex;
  flex-flow: column;
  gap: 20px;
}

.table__cell_theme_light{
  padding-top: 60px;
}

.table__heading {
  margin: 0;
  line-height: 1.15;
  font-size: 24px;
  font-weight: bold;
}

.table__text {
  margin: 0;
  line-height: 1.2;
  font-size: 18px;
  font-weight: normal;
}

/* khan */

.khan {
  margin: 0 auto;
  padding-top: 105px;
  display: flex;
  justify-content: center;
  background-color: #f2f2f2;
}

.khan__container {
  width: 80%;
}

.khan__auther {
  margin: 0;
  line-height: 42px;
  font-size: 30px;
  font-weight: normal;
}

.khan__title {
  margin: 0;
  line-height: 1.15;
  font-size: 60px;
  font-weight: bold;
}

.khan__qoute {
  margin: 50px 0 0 0;
  width: 790px;
  line-height: 34px;
  font-size: 24px;
}

.khan__qoute-auther {
 margin: 36px 0 0 0;
 line-height: 1.15;
 font-size: 24px;
 font-weight: bold;
}

.khan__qoute-auther-subline {
  margin: 10px 0 0 0;
  line-height: 1.15;
  font-size: 24px;
  font-weight: normal;
}

.khan__book-container {
  margin-top: 68px;
  display: flex;
  flex-direction: row;
  gap: 48px;
}

.khan__book-pic {
  height: 620px;
  width: 608px;
  object-fit: cover;
  object-position: top;
}

.knan__buy-link {
  line-height: 42px;
  font-size: 30px;
  text-decoration: none;
  color: #2f80ed;
}

/* kaufman */
 
.kaufman {
  overflow: hidden;
  background-color: #1f1f1f;
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0 auto;
  padding: 90px 0;
}

.kaufman__triangle {
  width: 877px;
  height: 877px;
  background-size: contain;
  background-image: url(../images/kaufman-triangle.svg);
  position: absolute;
  right: -210px;
  top: 0;
}

/* и элемента с модификатором вида ключ-значение */

.section-title_theme_dark {
  color: white;
  z-index: 2;
}

.section-subtitle_theme_dark {
  color: white;
  z-index: 2;
}

.table__cell_theme_dark {
  width: 200px;
  color: white;
  margin-right: 0;
  margin-top: 80px;
}

/* resources */

.resources {
margin: 0 auto;
padding: 100px 0 217px 0;
display: flex;
flex-direction: column;
align-items: center;
}

.resources__logo-zone {
 margin-top: 80px;
 min-width: 1100px;
 display: grid;
 grid-template-columns: repeat(4, 270px);
 justify-content: center;
 justify-items: center;


}

.resources__logo {
  height: 38px;
}

/* Footer */

.footer {
  min-height: 350px;
  box-sizing: border-box;
  padding: 60px 0 40px 0;
  background-color: #1f1f1f;
  color: white;
  display: flex;
  justify-content: center;
}

.footer__columns {
  width: 90%;
  display: flex;
  justify-content: space-between;
}

.footer__column_content_copyright {
  flex-basis: 711px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.logo_place_footer {
  width: 183px;
  height: 35px;
}

.footer__auther {
  margin: 18px 0;
  line-height: 25px;
  font-size: 18px;
  font-weight: normal;
}

.footer__column-heading {
  margin: 0;
  line-height: 30px;
  font-size: 18px;
  font-weight: bold;
}

.footer__column-links {
  margin: 20px 0 16px 0;
  padding: 0;
  list-style-type: none;
}

.footer__column-link {
  line-height: 30px;
  font-size: 18px;
  font-weight: normal;
  text-decoration: none;
  color: white;
}

.footer__social-icon {
  width: 16px;
  height: 16px;
  margin-right: 10px;
}
